{{template "topofpage" .}}
{{template "header" .}}
    <div id="atf">
        <h1>{{.Heading}}</h1>
        <h3>{{.First}}</h3>
        <h3>{{.Email}}</h3>
        <h3>{{.Password}}</h3>
    </div>
{{template "bottomofpage"}}
