{{define "header"}}
<header>
    <div><i class="fa fa-coffee"></i></div>
    <div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</header>
{{end}}
